<div class="banner">
  <div class="container">
    <h1>BUDD-FIT CHALLENGE</h1>
    <p><strong>Exercising</strong> with your <strong>friends</strong> has never been so <strong>fun!</strong></p>
  </div>
</div>
