<div class="card-trip">
  <div class="card-trip-infos">
    <div>
      <h2>Activity</h2>
      <h3>20 mins</h3>
    </div>
    <img src="https://kitt.lewagon.com/placeholder/users/krokrob" class="card-trip-user avatar-bordered" />
  </div>
  <img src="https://i.pinimg.com/564x/26/3c/a2/263ca2aaa480d91574f310b32f69d344.jpg" />
</div>
