<div>
  <div>
    <div data-controller="search-challenges" id="challenge-index">
      <h1>Challenges</h1>
      <%= render "shared/list", challenges: @challenge %>
      <div id="search-and-create" class="d-flex flex-column">
        <div id="search">
          <%= render "shared/search" %>
        </div>
        <div id="create-card-container">
          <%= render "challenge-card" %>
        </div>
      </div>
    </div>
    <div id="evidence-rand" >
      <div>
        <h1 style="height: auto;">Buddies in action</h1>
      </div>
      <div id="evidence-display">
        <% 14.times do %>
          <%= render "evidence" %>
        <% end %>
      </div>
    </div>
  </div>
</div>
