#banner {
  display: block;
  padding: 80px;
}

#banner h2 {
  font-size: 40px;
  color: white;
}

#title-challenge {
  -webkit-text-stroke: 1px red;
  color: red;
}

#banner .btn {
  margin-top: 20px;
}
