#banner {
  display: block;
  padding: 80px;
}

.banner h2 {
  font-size: 40px;
  color: white;
}

#title-challenge-landing {
  -webkit-text-stroke: 1px #E6FFCC;
  color: #E6FFCC;
}

#banner .btn {
  margin-top: 20px;
}

#banner >p {
  color: white;
}

.banner {
  // margin-top: 30px;
}
