.btn-warning {
  background-color: #D8C70E !important;
  border-color: black !important;
  font-weight: 500 !important;
  border-radius: 8px;
  box-shadow: 2px 2px 5px rgba(0, 0, 0, 1);
}

.btn-warning:hover {
  background-color: #bdae0e !important;
}

.btn-outline-light {
  border-radius: 8px;
  box-shadow: 2px 2px 5px rgb(82, 82, 82);
}
