.round-buton {
  background-color: #D8C70E !important;
  border-color: black !important;
  font-weight: 500 !important;
  border-radius: 50px; /* Utiliza un valor grande para hacer el botón redondo */
  width: 80px; /* Ajusta el ancho y el alto según sea necesario */
  height: 80px;
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
  box-shadow: 2px 2px 5px rgba(0, 0, 0, 1);
  text-decoration: none;
  color: black;
  font-size: 60px;
  top: 140px;
}

.btn-warning:hover {
  background-color: #bdae0e !important;
}

.btn-evidence {
  margin-top: -95px; /* Ajusta según sea necesario para alinear con la esquina */
  margin-right: -45px; /* Ajusta el margen derecho según sea necesario */
  z-index: 1; /* Asegura que el botón esté encima del contenido */
}
