.btn-warning {
  background-color: #E6FFCC !important;
  border-color: #7E926A !important;
  border-width: 0.5px;
  font-weight: 500 !important;
  border-radius: 8px;
  box-shadow: 1px 1px 5px rgb(88, 91, 91);
}

.btn-warning:hover {
  background-color: #bfd4a8 !important;
}

.btn-outline-light {
  border-radius: 8px;
  box-shadow: 1px 1px 5px rgb(88, 91, 91);
  border-width: 1px;
}
