.card-evidence {
  background-color: rgba(71, 69, 44, 0.8); /* Color de fondo con opacidad */
  color: white; /* Letras blancas */
  padding: 15px; /* Espaciado interno */
  max-width: 645px; /* Ancho máximo de la card */
  margin: 0 auto;
  border-radius: 16px; /* Centrar la card en la página */
}
