.buddies-card {
  background-color: #ffffff9e;
  border-radius: 20px
}

.buddies-card-title {
  display: flex;
  justify-content: center;
}

#buddies {
  font-weight: bold;
  font-size: 48px;
  color: #ffffff;
}

.buddies-card-text {
  color:#ffffff;
}
