.card-evidence {
  background-color: #789EB0;
  color: white;
  padding: 15px;
  width: 1120px;
  height: 130px;
  margin: 20px auto;
  border-radius: 16px;
  position: relative;
  box-shadow: 2px 2px 5px rgba(0, 0, 0, .5);
}
.card-title {
  font-size: 32px;
  font-weight: bold;
}
.card-title-yellow {
  color: #E6FFCC;
}
.evidence-text2 {
  position: absolute;
  bottom: 5px;
  left: 1000px;
  font-size: 20px;
  color: white;
  font-weight: bold;
}
.round-buton {
  background-color: #E6FFCC !important;
  border-color: #7E926A !important;
  font-weight: 500 !important;
  border-radius: 50px;
  width: 80px;
  height: 80px;
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
  box-shadow: 2px 2px 5px rgba(0, 0, 0, .5);
  text-decoration: none;
  color: #789EB0;
  font-size: 60px;
  position: absolute;
  top: -25px;
  right: -25px;
}
