.card-custom {
  background-color: #789EB0;
  box-shadow: 2px 2px 5px rgba(0, 0, 0, .5);
  border-radius: 16px;
  max-width: 550px;
  margin-left: 800px;
  margin-bottom: 50px;
  padding: 5px;
  color: #ffffff;
}

.card-custom p {
  font-size: 16px;
  line-height: 1.5;
  font-family: 'Inter';
}

.card-custom .form-control {
  background-color: #ffffff;
  border-color: #789EB0;
  color: #789EB0;
  padding: 6px;
  margin-bottom: 10px;
}
