.create-card {
  width: 310px;
  height: 190px;
  border-top-left-radius: 50px  ;
  border-bottom-right-radius: 50px;
  border-top-right-radius: 20px;
  border-bottom-left-radius: 20px;
  background-color: rgba(41,41,39,0.5);
  position: relative;
}

.create-card:hover {
  transition: 0.3s;
  background-color: rgba(41,41,39,0.3);
}

.create-card h2 {
  font-size: 30px;
  font-weight: bold;
  position: absolute;
  top: 40px;
  left: 40px;
  color: white;

}

.create-card .btn-warning {
  position: absolute;
  right: 30px;
  bottom: 30px;
}
