#challenge-index {
  display: flex;
  position: relative;
  justify-content: space-between;

  min-height: 600px;
}
#challenge-index h1 {
  position: absolute;
  left: 650px;
  top: 20px;
  font-size: 100px;
  color: white;
  opacity: 0.6;
}
