#challenge-index {
  display: flex;
  position: relative;
  justify-content: space-between;

  min-height: 600px;
}
#challenge-index h1 {
  position: absolute;
  transform: rotate(-90deg);
  left: 500px;
  top: 250px;
  font-size: 100px;
  color: white;
  opacity: 0.6;
}
