.create-card {
  width: 400px;
  height: 210px;
  border-top-left-radius: 50px  ;
  border-bottom-right-radius: 50px;
  border-top-right-radius: 20px;
  border-bottom-left-radius: 20px;
  background-color: #789EB0;
  position: relative;
}

.create-card:hover {
  transition: 0.3s;
  background-color: rgba(41,41,39,0.3);
}

.create-card h2 {
  font-size: 35px;
  font-weight: bold;
  position: absolute;
  top: 40px;
  left: 40px;
  color: white;
}

.create-card .btn-warning {
  position: absolute;
  right: 30px;
  bottom: 30px;
}

.card-product-challenge {
  margin-top: 100px;
}
