.card-invite {
  background-color: rgba(41, 41, 39, 0.8);
  border: 1px solid #dee2e6;
  border-radius: 16px;
  max-width: 800px;
  margin: 0 auto;
  opacity: 0.9;
  padding: 20px;
}

.card-invite p {
  color: #ffffff;
  font-size: 16px;
  margin-bottom: 0;
}

.card-invite .form-control {
  background-color: #ffffff;
  border-color: #ced4da;
  color: #495057;
  padding: 10px;
}
