.navbar-lewagon {

  background: #789EB0;

  height: 90px;
}
.navbar-brand {
  margin-right: auto;
}
.navbar-nav {
  display: flex;
  align-items: center;
}
.brand {
  font-family: 'Inter';
  font-weight: bold;
  font-size: 24px;
  color: #E6FFCC;
}
.navbar-collapse {
  font-family: 'Inter';
  font-weight: light;
  font-size: 16px;
}
