.navbar-lewagon {
  // justify-content: space-between;
  background: white;
}

.brand {
  font-family: 'Inter';
  font-weight: bold;
  font-size: 24px;
  color: #D8C70E;
}

.container-brand {
  justify-content: center;
}

.nav-item {
  font-family: 'Inter';
  font-weight: light;
  font-size: 16px;
}
