.shaded {
  // height: 500px;
  // width: 100px;
  background-color: #e6ffcc66;
  // position: relative;
  // margin-left: auto;
  border-bottom-left-radius: 50px;
  z-index: 10;
  position: relative;
  height: 70vh;
  width: 70%;
  // z-index: 12;
  // border-bottom-left-radius: 30px;
  // box-shadow: 3px 3px 4px grey;
  // background-color: rgba(0,0,0,0.2);
}

