#challenge-display {
  display: flex;
  position: relative;
  justify-content: space-between;

  min-height: 600px;
}
#challenge-name h1 {
  position: absolute;
  left: 787px;
  top: 278px;
  font-size: 90px;
  max-width: 50%;
  word-wrap: break-word;
  color: white;
  opacity: 0.5;
}

.section-one {
  margin-bottom: 25px;
  margin-left: 100px;
}

.background-section {
  background-color: #e6ffcc66;
  height: 500px;
  width: 300px;

  border-bottom-left-radius: 50px;
  position: relative;
}

.background-section img {
  position: absolute;
  top: 200px;
  left: -120px;
  height: 250px;
  width:250px;
  border-radius: 30px;
}
