<div class="container text-center">
  <%= simple_form_for([@exercise_session, @exercise_comment]) do |f| %>
    <div class="form-group">
      <%= f.input :comments, label: false, input_html: { class: 'form-control form-control-sm', placeholder: 'Leave a comment' } %>
    </div>
    <%= f.button :submit, "Send", class: "btn btn-warning btn-sm mr-2" %>
    <%= link_to "Go back to session", exercise_session_path(@exercise_session), class: "btn btn-warning btn-sm" %>
  <% end %>
</div>
